<!-- -->
<launch>

   <!-- Start robot node -->
   <node name="irobot_create" pkg="irobot_create_2_1" type="driver.py" />
   
   <!-- Start Kinect node --> 
   <include file="$(find openni_launch)/launch/openni.launch">
      <arg name="depth_registration" value="true" />
   </include> 
   <node name="kinect_aux_node" pkg="kinect_aux" type="kinect_aux_node" />

   <!-- Start node to convert steering commands 
   <node name="cloud2laser_fee" pkg="kinect_to_laser_data1" type="cloud2laser_fee"/>
   <node name="snd_v1" pkg="find_emergency_exit" type="snd_v1" />  -->

   <!-- Start Find_Emergency_Sign package -->
   <node name="controller_direction" pkg="find_emergency_exit" type="controller_direction" /> 
   <node name="signdetector_v3" pkg="find_emergency_exit" type="signdetector_v3" />
   <!--<node name="signsearcher_v3" pkg="find_emergency_exit" type="signsearcher_v3" />-->

</launch>
